/*---------------------------------------------------------
Setting
-----------------------------------------------------------*/
:root {
--global-text-col: #A6A6AC;
--global-text-col-focus: #FFFFFF;
}

/*---------------------------------------------------------
Tabs
-----------------------------------------------------------*/
/*change favicon*/ 
.tab-icon-image[src="chrome://branding/content/icon32.png"] { 
	content: url(resources/firefox_nightly_512.png) !important; 
}

/*close button*/ 
.tab-close-button {
  opacity: 0 !important;
  transition: opacity 0.3s !important;
  display: -moz-box !important; /* Keeps button in the DOM and layout */
}

/*close button -not the current tab*/
.tabbrowser-tab:hover:not([selected]) .tab-close-button {
  opacity: 0.5 !important;
  transition: opacity 0.115s !important;
  cursor: pointer;
}

/*Hovering over the close button of  tabs makes it brighter*/
.tabbrowser-tab:hover:not([selected]) .tab-close-button:hover {
  opacity: 1 !important;
  background-color: transparent !important;
  transition: opacity 0.25s !important;
}

/*close button -current tab currently nothign special*/
.tabbrowser-tab[selected]:hover .tab-close-button {
  opacity: 0.5 !important;
  transition: opacity 0.115s !important;
}

.tabbrowser-tab[selected]:hover .tab-close-button:hover {
  opacity: 1 !important;
  background-color: transparent !important;
  transition: opacity 0.25s !important;
}


/*Tab text only bright of the actiave tab*/
.tabbrowser-tab .tab-label-container {
  color: var(--global-text-col) !important;
}

.tabbrowser-tab[selected] .tab-label-container {
  color: var(--global-text-col-focus) !important;
  transition: color 0.25s !important;
}

/*---------------------------------------------------------
seachbar (STRG-F)
-----------------------------------------------------------*/
/* Move Find Bar (Ctrl+F) to top */
findbar {
  -moz-box-ordinal-group: 0 !important;
  order: -1 !important;
  border-top: 1px solid var(--chrome-content-separator-color) !important;
  border-bottom: none !important;
}

browser,
#content,
#appcontent {
  margin-top: 0 !important;
}

/*---------------------------------------------------------
Bookmarks text color less bright
-----------------------------------------------------------*/
.toolbarbutton-text {
  color: var(--global-text-col)
}

/*---------------------------------------------------------
make toolbaritems less flashy
-----------------------------------------------------------*/
/* Make bookmark folder icons less bright on toolbar */
.bookmark-item[container] > .toolbarbutton-icon {
  filter: brightness(0.66) !important;
}

/* Make bookmark folder icons less bright in menus */
menuitem[container] .menu-iconic-icon {
  filter: brightness(0.66) !important;
}

/*make googe icon less bright*/
.bookmark-item[label="Gmail"] .toolbarbutton-icon {
  content: url(resources/gmail.png) !important;
  height: 14px !important;
  width: 14px !important;
}

.bookmark-item[label="YouTube"] .toolbarbutton-icon {
  content: url(resources/yt_bookmark_v13.png) !important;
}



