/*logo*/
@-moz-document url(about:home), url(about:newtab) {
    .logo-and-wordmark {
      flex-direction: row-reverse !important;
      position: absolute !important;
      left: 490px !important;
      top: 156px !important;
    }

    .logo-and-wordmark .wordmark {
      margin-inline-start: 4px !important; /*to put the logo closer to the firefox text*/
    }
    .logo {
       /*replace firefox logo with nightly version and size it acordingly*/
       background-image: url(resources/firefox_nightly_512.png) !important;
       background-size: 64px 64px !important;	
       transform: scale(0.8) !important;
    }	


   /*automatically set right background*/
  .outer-wrapper {
    background-image: url(new_tab_wallpaper.jpg) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    color: grey !important; /* Text color */
  }


   .newtab-search-text{
    newtab-search-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAEklEQVR4nGNgGAWjYBSMAggAAAQQAA") !important;
   }

   /*pull wrapper down for wallpaper*/
   .search-wrapper{
      padding-top: 34px !important;
   }

   
   .search-wrapper input {
      background-size: 0px !important; /*hide search engine icon in searchbar*/
      padding-inline-start: 16px !important; /*left shift to fill the hole:D*/
   }

   /**/
   .search-wrapper .search-inner-wrapper {
      width: 601px !important;
   }
}
